.registerBack {
    background:#325e76;
    width:100%;
}
.registerlogo {
    margin:3rem 5rem 1rem;
    width:6rem;
}
.vercodeStyle {
    /*margin:1rem 0 */
}
.registerCode {
    width:11.3rem;
    height:1.4rem;
    margin:0.5rem 2.3rem 1.5rem;
    border:0.05rem solid #fff;
    position: relative;
}
.registerbtnStyle {
    background:#fff;
    border:0.05rem solid #fff;
    -webkit-border-radius:0.7rem;
    -moz-border-radius:0.7rem;
    border-radius:0.7rem;
    line-height:1.4rem;
    color:#325e76;
    width:11.9rem;
    margin:0 2rem;
    font-weight: bold;
}
.vercodeStyle {
    width:6.2rem;
    height:1.4rem;
    position: absolute;
    top:0;
    text-align: center;
}
.vercodeBtn {
    background:#a0a0a0;
    color:#fff;
    border-left:0.05rem solid #fff;
    width:5.1rem;
    height:1.4rem;
    position: absolute;
    right:0;
    font-size:0.5rem;
    text-align: center;
    line-height:1.4rem;
}
.inputregisterwidth {
    width:7rem;
}
@media(max-device-height: 480px) {

}
@media(min-device-height: 481px) and (max-device-height:750px ) {

}
@media(min-device-height:751px){
    .registeruserjianr {
        height:0.8rem;
        font-size:0.6rem;
        margin:0.2rem 2rem;
        padding:0.15rem 0.5rem;
    }
    .registerlogojianr {
        width:5rem;
        margin:1.6rem 5.5rem 0.9rem;
    }
    .registerCodejianr {
        height:1.2rem;
    }

}