<div class="searchPassBack" ng-style="winHeight">
    <p class="searchPassTitle">
        <button class="searchBackBtn" ng-click="searchPassBackBtn()"></button>
        <span class="searchPassTitleContent">车辆解绑</span>
    </p>
    <p class="vehiclebindlogo contentlogostyle"></p>
    <form name="unbundlingForm" novalidate>
        <p class="searchPasscontent">
            手机号：<input class="searchPinputS devicenumwidth" type="number" ng-model="unbundling.account" name="unbundlingaccount" ng-pattern="unbundlingphone" ng-blur="phonePatStyle(unbundlingForm.unbundlingaccount.$valid)" required />
        </p>
        <p class="searchPasscontent">
            验证码：<input class="searchPinputS" type="number" ng-model="unbundling.verCodeContent" name="unbundlingverCodeContent" required />
            <button class="searchPverCodeBtn" ng-click="unbundlinggetVercode()" ng-disabled="unbundverCodedis"><span ng-bind="unbundvercodeBtnContent"></span></button>
        </p>
        <p class="searchPBtnPStyle">
            <button class="searchPBtnStyle searchPBtnNo" ng-click="backminePage()">取消</button>
            <button class="searchPBtnStyle searchPBtnYes" ng-click="gounbundyes()" ng-disabled="unbundlingdis">确认</button>
        </p>
    </form>
</div>
<!--warning模态框-->
<div class="toggle model_warning" ng-if="subapp.toggle" >
</div>

<div class="model_content model_contentnot " ng-style="modelpositionStnot" ng-if="subapp.toggle">
    <div class="modelPad">
        <p class="iconAngry"></p>
        <span class="model_contentspan" ng-bind="submitWarning"></span>
    </div>
</div>
<div class="toggle model_warning" ng-if="hahaapp.toggle" >
</div>
<div class="model_content model_contentnot " ng-style="modelpositionStnot" ng-if="hahaapp.toggle">
    <div class="modelPad">
        <p class="iconhappy"></p>
        <span class="model_contentspan" ng-bind="submithappy"></span>
    </div>
</div>
<!--加载中的模态框-->
<div class="toggle model_warning" ng-if="loadapp.toggle" >
</div>

<div class="model_content model_contentnot " ng-style="modelpositionStnot" ng-if="loadapp.toggle">
    <div class="modelPad">
        <img class="loadiconstyle" src="img/load.gif"/>
    </div>
</div>