<div class="divvehicle" ng-style="winHeight">
    <button class=" btnmargintop vehiclebtntopjianr" ></button>
    <p class="vehicletitledetectionstyle">车辆检测</p>
    <p ng-class="{'bikenormal':bikeyesnormal,'bikehandlebuga':bikehandlebug,'bikecontrollerbuga':bikecontrollerbug,'bikemotorbuga':bikemotorbug}" class="vehicleicona vehicleiconajianr"></p>
    <p class="startdetectionbtnstyle" ng-click="selfInspectionclick()">开始检测</p>
    <table class="vehicledetectiontable">
        <tr>
            <td>
                车辆状况：
            </td>
            <td class="vehicledetectionred">
                电机相线脱落，建议检修！
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td class="vehicledetectionred">
                电机相线脱落，建议检修！
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td class="vehicledetectionred">
                电机相线脱落，建议检修！
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td class="vehicledetectionred">
                电机相线脱落，建议检修！
            </td>
        </tr>
    </table>
    <ul class="vehicledetectionul">
        <li class="vehicledetectionlileft" ng-class="{'hallmotorlinor':hallmortornormal,'hallmotorlibug':hallmotorliproblem}">
            <span class="vehicleullispantopstyle vehicletextrightall">电机霍尔</span>
            <span class="vehicleullispantopstyle vehicletextrightall vehicleulllispanfontsize" ng-bind="hallbindcontent"></span>
        </li>
        <li class="vehicledetectionliright" ng-class="{'wiremotorlinor':wiremortornormal,'wirelmotorlibug':wiremotorliproblem}">
            <span class="vehicleullispantopstyle vehicletextleftall">电机相线</span>
            <span class="vehicleullispantopstyle vehicletextleftall vehicleulllispanfontsize" ng-bind="wirebindcontent"></span>
        </li>
    </ul>
    <ul class="vehicledetectionul">
        <li class="vehicledetectionlileft" ng-class="{'handlemotorlinor':handlemortornormal,'handlemotorlibug':handlemotorliproblem}">
            <span class="vehicleullispantopstyle vehicletextrightall">转把</span>
            <span class="vehicleullispantopstyle vehicletextrightall vehicleulllispanfontsize" ng-bind="handlebindcontent"></span>
        </li>
        <li class="vehicledetectionliright" ng-class="{'controllermotorlinor':controllermortornormal,'controllermotorlibug':controllermotorliproblem,'controllermotorliprotectiona':controllermotorliprotection}">
            <span class="vehicleullispantopstyle vehicletextleftall">控制器</span>
            <span class="vehicleullispantopstyle vehicletextleftall vehicleulllispanfontsize" ng-bind="controllerbindcontent"></span>
        </li>
    </ul>
</div>
<!--加载中的模态框-->
<div class="toggle model_warning" ng-if="loadapp.toggle" >
</div>

<div class="backgroundnoload model_contentnot " ng-style="modelpositionStnot" ng-if="loadapp.toggle">
    <div class="modelPad">
        <img class="loadiconstyle" src="img/load.gif"/>
    </div>
</div>