.mainContent {
    width:100%;
}
.autoChangeall {
    width:16rem;
    overflow: hidden;
    height:10rem;
    position: relative;

}
.autoPointall {
    position:absolute;
    bottom:0.6rem;
    width:16rem;
    text-align: center;

}
.picstyle {
    width:16rem;
    height:10rem;
    background:#000;
    position: absolute;
    /*display: none;*/
    left:16rem;
}
.windStyle {
    position: absolute;
    bottom:-0.3rem;
    left:1rem;
    width:5rem;
}
.autoPic1 {
    /*background:#b7bbdc;*/
    /*background:#8eafc2;*/
    left: 0;
    background:url("../img/weatherb3.png") no-repeat;
    -webkit-background-size:cover;
    background-size: cover;

}
.autoPic2 {
    width:16rem;
    height:10rem;
    background:url("../img/bg1.png") no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
}
.autoPic3 {
    width:16rem;
    height:10rem;
    background:url("../img/bg3.png") no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
}
.weatherstyle {
    width:12rem;
    margin:2rem 0 2rem 2rem;
    height:5rem;

}
.pointstyle {
    display: inline-block;
    width:0.25rem;
    height:0.25rem;
    border:0.05rem solid #fff;
    -webkit-border-radius:0.125rem;
    -moz-border-radius:0.125rem;
    border-radius:0.125rem;
    margin-left:0.5rem;
}
@media(max-device-height: 480px) {
    .homefunctionBtn {
        /*background:#5a8a94;*/
        margin:0 1rem;
        width:14rem;
        height:11rem;
        position:absolute;
        top:11rem;
        left:0;
        right:0;
        bottom:0;
    }
}
@media(min-device-height: 481px) and (max-device-height:568px ) {
    .homefunctionBtn {
        /*background:#5a8a94;*/
        margin:0 1rem;
        width:14rem;
        height:11.5rem;
        position:absolute;
        top:12rem;
        left:0;
        right:0;
        bottom:0;
    }
}
@media(min-device-height: 569px) {
    .homefunctionBtn {
        /*background:#5a8a94;*/
        margin:0 1rem;
        width:14rem;
        height:12rem;
        position:absolute;
        top:12rem;
        left:0;
        right:0;
        bottom:0;
    }
}

.functionBtnStyle {
    width:3.4rem;
    height:3.4rem;
    margin:0 0.5rem;
    text-align: center;
    display: inline-block;
    font-size:0.6rem;
    color:#bec1c1;
    /*background:#fff;*/
}
.functioniconStyle {
    width:3rem;
    height:3rem;
    margin:0 0.2rem 0.5rem;
    position: relative;
}
.positionb {
    position: absolute;
    bottom:2rem;
    left:0;
}
.normalfbtnYes {
    background:url("../img/home_fortification.png") no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
}
.clickfbtnYes {
    background:url("../img/home_fortification_btn.png") no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
}
.normalfbtnNo {
    background:url("../img/home_anti_solution.png") no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
}
.clickfbtnNo {
    background:url("../img/home_anti_solution_btn.png") no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
}
.normalfbtn2 {
    background:url("../img/home_car_file.png") no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
}
.clickfbtn2 {
    background:url("../img/home_car_file_btn.png") no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
}
.normalfbtn3 {
    background:url("../img/home_locally.png") no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
}
.clickfbtn3 {
    background:url("../img/home_locally_btn.png") no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
}
.normalfbtn4 {
    background:url("../img/home_e_bike.png") no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
}
.clickfbtn4 {
    background:url("../img/home_e_bike_btn.png") no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
}
.normalfbtn5 {
    background:url("../img/home_bell.png") no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
}
.clickfbtn5 {
    background:url("../img/home_bell_btn.png") no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
}
.normalfbtn6 {
    background:url("../img/home_help.png") no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
}
.clickfbtn6 {
    background:url("../img/home_help_btn.png") no-repeat;
    -webkit-background-size:contain;
    background-size:contain;
}
.alarmcountstyle {
    position:absolute;
    top:0.5rem;
    right:5rem;
    width:1rem;
    height:1rem;
    line-height:1rem;
    text-align: center;
    -webkit-border-radius:0.5rem;
    -moz-border-radius:0.5rem;
    border-radius:0.5rem;
    background:#fe0000;
    color:#fff;
}
.alarmiconcount {
    display: none;

}
