<div class="mainBack" ng-style="winHeight">
    <div class="main_content">
        <div ui-view="tab-main">
        </div>

    </div>

    <!--//footer部分-->
    <ul class="main_footer">
        <li ng-click="show_blur()" ng-class="{active: $state.includes('mains.home')}" ui-sref="mains.home">
            <a  class="tabs_left" >
            </a>
            <a id="tab_leftC">
                主页面
            </a>
        </li>
        <li ng-click="show_blur()" ng-class="{active: $state.includes('mains.vehicle')}" ui-sref="mains.vehicle">
            <a class="tabs_mid">
            </a>
            <a id="tab_midC">
                车辆检测
            </a>


        </li>
        <li ng-click="show_blur()" ng-class="{active: $state.includes('mains.mine')}" ui-sref="mains.mine">
            <a  class="tabs_right">
            </a>
            <a ui-sref="mains.mine" id="tab_rightC">
                我的
            </a>

        </li>
    </ul>
</div>
<!--warning模态框-->
<div class="toggle model_warning" ng-if="subapp.toggle" >
</div>

<div class="model_content model_contentnot " ng-style="modelpositionStnot" ng-if="subapp.toggle">
    <div class="modelPad">
        <p class="iconAngry"></p>
        <span class="model_contentspan" ng-bind="submitWarning"></span>
    </div>
</div>
<div class="toggle model_warning" ng-if="hahaapp.toggle" >
</div>
<div class="model_content model_contentnot " ng-style="modelpositionStnot" ng-if="hahaapp.toggle">
    <div class="modelPad">
        <p class="iconhappy"></p>
        <span class="model_contentspan" ng-bind="submithappy"></span>
    </div>
</div>
<div class="toggle model_warning" ng-if="backmodelapp.toggle" >
</div>
<div class="model_content model_contentnot " ng-style="modelpositionStnot" ng-if="backmodelapp.toggle">
    <div class="modelPad">
        <span class="model_contentspan">再次点击退出登录！</span>
    </div>
</div>