<div class="searchPassBack" ng-style="winHeight">
    <p class="searchPassTitle">
        <button class="searchBackBtn" ng-click="searchPassBackBtn()"></button>
        <span class="searchPassTitleContent">设置新密码</span>
    </p>
    <p class="searchPassLogo contentlogostyle"></p>
    <form name="searchnewPassForm" novalidate>
        <p class="searchPasscontent">
            新密码：<input class="searchPinputS searnewPassStyle" type="password" ng-model="searchnewP.newpass" name="searchnewPnewpass" required ng-disabled="searchnewpnewdis"/>
        </p>
        <p class="searchPasscontent">
            确认新密码：<input class="searchPinputS searnewPassStyle" type="password" ng-model="searchnewP.agapass" name="searchnewPagapass" required ng-disabled="searchnewpolddis"/>
        </p>
        <p class="searchPBtnPStyle">
            <button class="searchPBtnStyle searchPBtnNo">取消</button>
            <button class="searchPBtnStyle searchPBtnYes" ng-click="vercodeNewpassBtn()" ng-disabled="codeagaPassdis" >确认</button>
        </p>
    </form>
</div>
<!--warning模态框-->
<div class="toggle model_warning" ng-if="subapp.toggle" >
</div>

<div class="model_content model_contentnot " ng-style="modelpositionStnot" ng-if="subapp.toggle">
    <div class="modelPad">
        <p class="iconAngry"></p>
        <span class="model_contentspan" ng-bind="submitWarning"></span>
    </div>
</div>
<!--加载中的模态框-->
<div class="toggle model_warning" ng-if="loadapp.toggle" >
</div>

<div class="model_content model_contentnot " ng-style="modelpositionStnot" ng-if="loadapp.toggle">
    <div class="modelPad">
        <img class="loadiconstyle" src="img/load.gif"/>
    </div>
</div>